#pannel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: inherit;
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
}

.grid-row {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  justify-self: center;
  align-self: center;
}

#upload {
  width: 100%;
  height: 60px;
  width: 300px;
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
}

#select-link {
  color: #abe2fb;
}

#select-link:hover {
  color: #8fdbff;
}

#grid-container-r1 {
  justify-content: space-between;
}

#grid-container-r2 {
  justify-content: center;
}

#grid-min-max {
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#grid-colormap {
  justify-content: center;
}

#min-container,
#max-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

#grid-min-max input {
  width: 80px;
  background-color: var(--theme);
}

#max-input, #min-input {
  color: white !important;
}

#grid-min-max label {
  margin: 0 5px;
}

#line-width-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lw-label {
  height: 25px;
}

#colormap-dropdown {
  flex-grow: 1;
  padding: 0 10px;
}

.Select-control {
  background-color: rgb(25, 25, 25) !important;
}

.Select-menu-outer {
  background-color: rgb(25, 25, 25);
}

.Select-value-label {
  color: white !important;
}

#radio-items {
  display: flex;
  align-items: center;
  justify-content: left;
}

#radio-label {
  padding: 0px 10px;
}

#radio-items > * {
  padding: 0 10px;
}

#tiles-container {
  align-self: flex-start;
  width: 100%;
  padding: 0px 10px;
  padding-left: 0px;
  box-sizing: border-box;
}

#tiles-label,
#tiles-label-many {
  justify-self: right;
  align-self: center;
}

#radios-label {
  justify-self: right;
  align-self: center;
}

#tiles-label,
#radios-label {
  padding: 0 5px;
}

.rc-slider-tooltip-inner {
  background-color: var(--theme);
}

#tiles-label,
#tiles-label-many,
#radios-label {
  height: 30px;
}

#input-tiles {
  width: 100%;
  margin: 0px 5px;
  padding: 0px !important;
}

#checklist {
  padding-left: 10px;
  padding-right: 25px;
  justify-self: center;
  align-self: center;
}
